.featured {
    width: 900px;
    height: inherit;
    background: rgba(217, 217, 217, 0.20);
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.dots-container {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.dot {
    width: 20px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #776E82;

    margin: 0 5px;
    cursor: pointer;
}

.price-container {
    margin-top: -300px;
    margin-left: 750px;
    display: flex;
    background: #3E3647;
    width: fit-content;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.price {
    font-size: 20px;
    margin: 5px;
    color: #ffffff;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
